{% extends "feed/layout.html" %}
{% load static %}
{% block cssfiles %}
{% endblock cssfiles %}
{% block searchform %}
<form class="form-inline my-2 my-lg-0 ml-5" action="{% url 'search_users' %}" method="get">
  <input name="q" type="text" placeholder="Search users..">
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">Search</button>
</form>
{% endblock searchform %}
{% block content %}

	<div class="main-content">
    <div class="container mt-7">
      <div class="row">
        <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="{{ tribe.image.url }}">
                    <img src="{{ tribe.image.url }}" class="rounded-circle" width="160px" height="160px">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
  
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                      <div>
                      <span class="heading">Welcome to the {{ tribe }} tribe!</span>
                      </div>
                  </div>
                    <div>
                      <span class="heading">{{ tribe.members.count }} members</span>
                      </div>
                </div>
              </div>
              <div class="text-center"
                	{% if button_status == 'not_in_tribe' %}
						<small><a class='btn btn-primary' href="/tribes/join/{{ tribe.id }}">Join Tribe</a></small>
					{% else %}
						<small><a class="btn btn-danger" href="/tribes/tribe/delete/{{ tribe.id }}">Leave Tribe</a></small>
					{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
        <div class="container mx-auto px-0">
	    <div class="row">

	      <div class="col-xs-12 px-0 col-md-8 m-auto order-xl-2 mb-5 mb-xl-0">
	        {% for post in posts %}
	        <div class="card card-signin my-2">
	          <div class="card-body">
	          	<a href="{{ post.user_name.profile.get_absolute_url }}"><img src="{{ post.user_name.profile.image.url }}" class="rounded-circle" width="30" height="30" alt=""></a>
	          	<a class="text-dark" href="{{ post.user_name.profile.get_absolute_url }}"><b>{{ post.user_name }}</b></a>
				<a class="p-1 mb-2 bg-primary text-white" href="/tribes/{{ post.tribe.id }}">{{ post.tribe }}</a>
				  <br><small class="text-muted">Posted on {{ post.date_posted }}</small>
	          	<br><br>
	            <p class="card-text text-dark">{{ post.description }}</p>
	          </div>
	          <a href="{% url 'post-detail' post.id %}"><img class="card-img-top" src="{{ post.pic.url }}" alt=""></a>
	          {% if post.tags %}
	          <br>
	          <p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>
	          {% endif %}
	          <div class="card-footer">
	          	<button class="btn btn-white mr-3 like" id="{{ post.id }}">
			        {% if post in liked_post %}
			            <a href="{% url 'post-like' %}" style="color:red;" id="likebtn{{ post.id }}"> Unlike</a> | {{post.likes.count}}
			        {% else %}
			            <a href="{% url 'post-like' %}" style="color:green;" id="likebtn{{ post.id }}"> Like</a> | {{post.likes.count}}
			        {% endif %}
			    </button>
	          	<a class="btn btn-outline-info" href="{% url 'post-detail' post.id %}">Comments | {{ post.details.count }}</a>
	          </div>
	        </div>
	        {% endfor %}
	  	   </div>
	    </div>
	</div>
      {% if request.user == u %}
      <div class="row">
      	<div class="col-md-6">
      		<div class="card card-signin my-5">
      			<div class="card-body">
      				<h2>Friend Requests Sent ({{ sent_friend_requests.count }})</h2>
      				<hr class="my-2">
      				{% if not sent_friend_requests %}
      					<h5><i>No sent requests!</i></h5>
      				{% else %}
					{% for s_request in sent_friend_requests %}
            <a href="{{ s_request.to_user.profile.get_absolute_url }}"><img src="{{ s_request.to_user.profile.image.url }}" class="rounded mr-2" width="40" height="40" alt=""></a>
            <a href="{{ s_request.to_user.profile.get_absolute_url }}"><b>{{ s_request.to_user.username }}</b></a>
            <small class="float-right">
                <a class='btn btn-warning mr-2' href="{% url 'cancel_friend_request' s_request.to_user.id %}">Cancel</a>
            </small>
            <br><br>
					{% endfor %}
					{% endif %}
      			</div>
      		</div>
      	</div>
      	<div class="col-md-6">
      		<div class="card card-signin my-5">
      			<div class="card-body">
      				<h2>Friend Requests Recieved ({{ rec_friend_requests.count }})</h2>
      				<hr class="my-2">
      				{% if not rec_friend_requests %}
      					<h5><i>No recieved requests!</i></h5>
      				{% else %}
      					{% for r_request in rec_friend_requests %}
                <a href="{{ r_request.from_user.profile.get_absolute_url }}"><img src="{{ r_request.from_user.profile.image.url }}" class="rounded mr-2" width="40" height="40" alt=""></a>
                <a class="mr-2 align-middle" href="{{ r_request.from_user.profile.get_absolute_url }}"><b>{{ r_request.from_user.username }}</b>
                </a>
						    <small class="float-right">
                  <a class='btn btn-success mr-2' href="/users/friend-request/accept/{{ r_request.from_user.id }}">Accept</a>
						      <a class='btn btn-danger' href="/users/friend-request/delete/{{ r_request.from_user.id }}">Reject</a>
                </small>
            <br><br>
					{% endfor %}
					{% endif %}
      			</div>
      		</div>
      	</div>
      </div>
      {% endif %}
    </div>
  </div>



{% endblock content %}
{% block jsfiles %}{% endblock jsfiles %}